<a href="https://colab.research.google.com/github/vincent0965/Colab_note/blob/master/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CRIM:人均犯罪率

ZN:25,000平方英尺以上民用土地的比例

INDUS:城鎮非零售業商用土地比例

CHAS:是否鄰近查爾斯河，1是鄰近，0是不鄰近

NOX:一氧化氮濃度（千萬分之一）

RM:住宅的平均房間數

AGE:自住且建於1940年前的房屋比例

DIS:到5個波士頓就業中心的加權距離

RAD:到高速公路的便捷度指數

TAX:每萬元的房產稅率

PTRATIO:城鎮學生教師比例

B:1000(Bk − 0.63)2 其中Bk是城鎮中黑人比例

LSTAT:低收入人群比例

ans:自住房屋中位數價格，單位(千元)

In [3]:
import pandas as pd
from sklearn.datasets import load_iris
pd.options.display.max_rows = 20
iris = load_iris()
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

分群不需要對答案
要相信自己分群出來的結果

In [6]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters = 3)
cluster.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [9]:
df["label"] = cluster.labels_
# 依照相似度做出來的東西
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      0
1                  4.9               3.0  ...               0.2      0
2                  4.7               3.2  ...               0.2      0
3                  4.6               3.1  ...               0.2      0
4                  5.0               3.6  ...               0.2      0
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      2
146                6.3               2.5  ...               1.9      1
147                6.5               3.0  ...               2.0      2
148                6.2               3.4  ...               2.3      2
149                5.9               3.0  ...               1.8      1

[150 rows x 5 columns]

In [11]:
cluster.cluster_centers_
# 標註出被選為中心的數值

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])