<a href="https://colab.research.google.com/github/vincent0965/Colab_note/blob/master/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 5s 0us/step

In [2]:
# "-".map(str, [1, 2, 3, 4, 5])

AttributeError: ignored

In [3]:
import glob
glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")
import os
import pandas as pd


def read(path):
  with open(path, encoding = "utf8") as f :
    content = f.read()
  return content


def get_data(t):
    dn = os.path.dirname(dataset)
    pattern = os.path.join(dn, "aclImdb", t, "pos", "*.txt")
    pos = glob.glob(pattern)
    pattern = os.path.join(dn, "aclImdb", t, "neg", "*.txt")
    neg = glob.glob(pattern)
    sentiments = [1] * len(pos) + [0] * len(neg)
    contents = map(read, pos + neg)
    df = pd.DataFrame({
        "contents":contents,
        "sentiment":sentiments
    })
    return df

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                contents  sentiment
0      It kept me on the edge of my seat. True, the s...          1
1      Born in 1946 I was about eight years old when ...          1
2      In the 60's Cleveland television audiences cou...          1
3      I think it is a brilliant show with cool talki...          1
4      John Wayne's first starring role just blew me ...          1
...                                                  ...        ...
24995  I am not a big fan of the Spielberg/Cruise ver...          0
24996  The director infuses this film with false dept...          0
24997  As a flying and war movie buff, this ranks at ...          0
24998  I rented this movie under the impression that ...          0
24999  They prove that the cops, when they can't find...          0

[25000 rows x 2 columns]

embeddings:
https://keras.io/zh/layers/embeddings/

Tokenizer:

In [4]:
from tensorflow.keras.preprocessing.text import Tokenizer

# 對文字的預處理
tok = Tokenizer(num_words = 3000)

# fit_on_tests: fit_transform 的 fit
tok.fit_on_texts(train_df["contents"])

# seg: a list with word trans to numbeer
x_train_seq = tok.texts_to_sequences(train_df["contents"])
x_test_seq = tok.texts_to_sequences(test_df["contents"])

In [5]:
# tok.word_index
tok.index_word[2]

'and'

In [7]:
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1    17     6    84     2    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6     4     4    84   399  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        14     3   193    55   764   334  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        11    17    69    35    73    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        11  1250     4  1976  1477   343  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     9     6  1295    12     3   226  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     3    19    37   477  1695     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11     6     1  1124     4   592  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10  1081  1884    12   143  1644  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    14    13     5    27   870     3  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [ ]:
# truncating:pre 12345 => 45 , post => 12
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, 512)
x_test_pad = pad_sequences(x_test_seq, 512)
pd.DataFrame(x_test_pad)

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D
from tensorflow.keras.layers import Dense, Flatten, Dropout
# https://keras.io/zh/layers/embeddings/

layers = [
      # 1-3000(token) + 0(padding)
      Embedding(3001, 128, mask_zero=True, input_length=512),
      # Dense(128, activation="relu"),
      # Dropout(0.25),
      # over param. => over train
      GlobalAveragePooling1D(),
      Dense(2, activation="softmax")
]

model = Sequential(layers)
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d_1 ( (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [16]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer=Adam(),
       metrics=["accuracy"])

In [11]:
y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

In [17]:
# epoch: 整份資料要看幾遍
# 60000筆, 2epoch, 200batch -> 60000 * 2 / 200次調整
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    ModelCheckpoint("model.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad, 
     y_train,
     batch_size=100,
     epochs=50,
     validation_split=0.1,
     callbacks=callbacks,
     verbose=2)

Epoch 1/50
225/225 - 4s - loss: 0.5739 - accuracy: 0.7113 - val_loss: 0.5215 - val_accuracy: 0.7548
Epoch 2/50
225/225 - 3s - loss: 0.3607 - accuracy: 0.8643 - val_loss: 0.3669 - val_accuracy: 0.8472
Epoch 3/50
225/225 - 3s - loss: 0.2909 - accuracy: 0.8881 - val_loss: 0.3581 - val_accuracy: 0.8480
Epoch 4/50
225/225 - 3s - loss: 0.2594 - accuracy: 0.8999 - val_loss: 0.3452 - val_accuracy: 0.8564
Epoch 5/50
225/225 - 4s - loss: 0.2408 - accuracy: 0.9069 - val_loss: 0.3193 - val_accuracy: 0.8684
Epoch 6/50
225/225 - 3s - loss: 0.2280 - accuracy: 0.9130 - val_loss: 0.4022 - val_accuracy: 0.8288
Epoch 7/50
225/225 - 3s - loss: 0.2193 - accuracy: 0.9166 - val_loss: 0.3742 - val_accuracy: 0.8428
Epoch 8/50
225/225 - 4s - loss: 0.2121 - accuracy: 0.9202 - val_loss: 0.3939 - val_accuracy: 0.8364
Epoch 9/50
225/225 - 3s - loss: 0.2062 - accuracy: 0.9223 - val_loss: 0.3647 - val_accuracy: 0.8524
Epoch 10/50
225/225 - 4s - loss: 0.2021 - accuracy: 0.9235 - val_loss: 0.3580 - val_accuracy: 0.8592

In [18]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 3ms/step - loss: 0.2871 - accuracy: 0.8825

[0.2871103584766388, 0.8824800252914429]