<a href="https://colab.research.google.com/github/vincent0965/Colab_note/blob/master/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 1s 0us/step

In [2]:
# "-".map(str, [1, 2, 3, 4, 5])

In [3]:
import glob
glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")
import os
import pandas as pd


def read(path):
  with open(path, encoding = "utf8") as f :
    content = f.read()
  return content


def get_data(t):
    dn = os.path.dirname(dataset)
    pattern = os.path.join(dn, "aclImdb", t, "pos", "*.txt")
    pos = glob.glob(pattern)
    pattern = os.path.join(dn, "aclImdb", t, "neg", "*.txt")
    neg = glob.glob(pattern)
    sentiments = [1] * len(pos) + [0] * len(neg)
    contents = map(read, pos + neg)
    df = pd.DataFrame({
        "contents":contents,
        "sentiment":sentiments
    })
    return df

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                contents  sentiment
0      It kept me on the edge of my seat. True, the s...          1
1      Born in 1946 I was about eight years old when ...          1
2      In the 60's Cleveland television audiences cou...          1
3      I think it is a brilliant show with cool talki...          1
4      John Wayne's first starring role just blew me ...          1
...                                                  ...        ...
24995  I am not a big fan of the Spielberg/Cruise ver...          0
24996  The director infuses this film with false dept...          0
24997  As a flying and war movie buff, this ranks at ...          0
24998  I rented this movie under the impression that ...          0
24999  They prove that the cops, when they can't find...          0

[25000 rows x 2 columns]

embeddings:
https://keras.io/zh/layers/embeddings/

Tokenizer:

In [4]:
from tensorflow.keras.preprocessing.text import Tokenizer

# 對文字的預處理
tok = Tokenizer(num_words = 3000)

# fit_on_tests: fit_transform 的 fit
tok.fit_on_texts(train_df["contents"])

# seg: a list with word trans to numbeer
x_train_seq = tok.texts_to_sequences(train_df["contents"])
x_test_seq = tok.texts_to_sequences(test_df["contents"])

In [5]:
# tok.word_index
tok.index_word[2]

'and'

In [6]:
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1    17     6    84     2    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6     4     4    84   399  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        14     3   193    55   764   334  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        11    17    69    35    73    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        11  1250     4  1976  1477   343  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     9     6  1295    12     3   226  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     3    19    37   477  1695     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11     6     1  1124     4   592  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10  1081  1884    12   143  1644  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    14    13     5    27   870     3  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [7]:
# truncating:pre 12345 => 45 , post => 12
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, 512)
x_test_pad = pad_sequences(x_test_seq, 512)
pd.DataFrame(x_test_pad)

       0    1    2    3    4    5    ...  506   507   508   509   510   511
0        0    0    0    0    0    0  ...   62   627   277    22   377   146
1        0    0    0    0    0    0  ...   11   730    18     9  1674    69
2        0    0    0    0    0    0  ...   10   121   143    61     3   504
3        0    0    0    0    0    0  ...  369     7     7    15    58  1911
4        0    0    0    0    0    0  ...    4   578   476    20     1     5
...    ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
24995    0    0    0    0    0    0  ...    1  1710  1064  1214  1688  2335
24996    0    0    0    0    0    0  ...   72   190    15  2484     8   110
24997    0    0    0    0    0    0  ...   11     6    21    28     4    95
24998    0    0    0    0    0    0  ...    5    11    52   558     4    55
24999    0    0    0    0    0    0  ...   64    11    19   108   208   156

[25000 rows x 512 columns]

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D
from tensorflow.keras.layers import Dense, Flatten, Dropout
# https://keras.io/zh/layers/embeddings/

layers = [
      # 1-3000(token) + 0(padding)
      Embedding(3001, 128, mask_zero=True, input_length=512),
      # Dense(128, activation="relu"),
      # Dropout(0.25),
      # over param. => over train
      GlobalAveragePooling1D(),
      Dense(2, activation="softmax")
]

model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [9]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer=Adam(),
       metrics=["accuracy"])

In [10]:
y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

In [11]:
# epoch: 整份資料要看幾遍
# 60000筆, 2epoch, 200batch -> 60000 * 2 / 200次調整
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    ModelCheckpoint("model.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad, 
     y_train,
     batch_size=100,
     epochs=50,
     validation_split=0.1,
     callbacks=callbacks,
     verbose=2)

Epoch 1/50
225/225 - 4s - loss: 0.5725 - accuracy: 0.7127 - val_loss: 0.4772 - val_accuracy: 0.7972
Epoch 2/50
225/225 - 4s - loss: 0.3619 - accuracy: 0.8620 - val_loss: 0.3867 - val_accuracy: 0.8356
Epoch 3/50
225/225 - 4s - loss: 0.2913 - accuracy: 0.8879 - val_loss: 0.3350 - val_accuracy: 0.8612
Epoch 4/50
225/225 - 4s - loss: 0.2595 - accuracy: 0.8992 - val_loss: 0.3476 - val_accuracy: 0.8544
Epoch 5/50
225/225 - 4s - loss: 0.2406 - accuracy: 0.9074 - val_loss: 0.3196 - val_accuracy: 0.8672
Epoch 6/50
225/225 - 4s - loss: 0.2279 - accuracy: 0.9137 - val_loss: 0.3390 - val_accuracy: 0.8596
Epoch 7/50
225/225 - 4s - loss: 0.2184 - accuracy: 0.9175 - val_loss: 0.3251 - val_accuracy: 0.8704
Epoch 8/50
225/225 - 4s - loss: 0.2118 - accuracy: 0.9199 - val_loss: 0.3877 - val_accuracy: 0.8392
Epoch 9/50
225/225 - 4s - loss: 0.2062 - accuracy: 0.9227 - val_loss: 0.3974 - val_accuracy: 0.8384
Epoch 10/50
225/225 - 4s - loss: 0.2021 - accuracy: 0.9233 - val_loss: 0.3452 - val_accuracy: 0.8636

In [12]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.2869 - accuracy: 0.8830

[0.28689318895339966, 0.8829600214958191]

In [14]:
TOK = 3000
LEN = 512
EM = 128

In [15]:
layers = [
  Embedding(TOK+1, EM, mask_zero=True),
  GlobalAveragePooling1D()
]
w = model.layers[0].get_weights()
infer = Sequential(layers)
infer.layers[0].set_weights(w)
infer.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 128)         384128
_________________________________________________________________
global_average_pooling1d_1 ( (None, 128)               0
=================================================================
Total params: 384,128
Trainable params: 384,128
Non-trainable params: 0
_________________________________________________________________

In [16]:

# w
# infer.layers[0].get_weights()
# 25000, 512
# [512list, 512list]
target = "the"
# [1list]
pre = infer.predict([[tok.word_index[target]]])
pre[0]

array([-0.06068694, -0.01687202,  0.02700565, -0.00333076, -0.03431202,
       -0.01997601,  0.0151977 , -0.00860172, -0.03456532, -0.00127739,
       -0.04744357, -0.02280594, -0.03111822, -0.01839069,  0.05215816,
        0.04846331, -0.01904806,  0.04848907,  0.03078368,  0.0088834 ,
        0.04535828,  0.04563779, -0.05126249,  0.03175594,  0.02702455,
       -0.04778759,  0.06338232, -0.03956672,  0.00335033,  0.05556178,
       -0.06548061,  0.03358347,  0.03846428,  0.0042756 , -0.0197955 ,
        0.04338089,  0.0205578 ,  0.05643181,  0.02645518, -0.02831637,
       -0.01291166,  0.01663014,  0.05715456,  0.02498715, -0.03559098,
        0.0256614 , -0.00492434, -0.03036245, -0.01512167,  0.00419951,
        0.00640047,  0.01312962,  0.04808193, -0.00447035,  0.0128154 ,
        0.06373854,  0.0455902 , -0.0168565 ,  0.05186348, -0.00556332,
       -0.02385976, -0.01037923, -0.02948355, -0.02861106,  0.01022715,
       -0.06556471, -0.06553085,  0.00292578,  0.00496063,  0.01867295,
       -0.01633402, -0.02852896,  0.00455559,  0.06529796, -0.00975073,
       -0.0071569 , -0.02287262,  0.02010266,  0.05976468, -0.00799184,
       -0.01259417,  0.01977584, -0.04368382, -0.01948331, -0.03446535,
       -0.04447355, -0.02925135,  0.02590023, -0.04583164,  0.01685876,
        0.0339552 , -0.06339758,  0.00247237, -0.01535223,  0.01511627,
       -0.0352904 , -0.04011872, -0.02747574,  0.04678069,  0.00569524,
        0.00073336,  0.02138221,  0.05880192,  0.01695492, -0.04946272,
       -0.03497953, -0.00514429,  0.02726543,  0.01577152,  0.0077459 ,
       -0.0024646 , -0.02704736, -0.06441547, -0.05194196,  0.01042323,
       -0.01926182,  0.01768748,  0.0572851 ,  0.01023628, -0.06263463,
        0.05891838, -0.00093559,  0.04572486,  0.00622375, -0.03476149,
        0.01643678,  0.01678894, -0.0309419 ], dtype=float32)

In [17]:
f = open("vec.txt", "w", encoding="utf-8")
f.write("{} {}\n".format(TOK, EM))
for i in range(1, TOK+1):
    # [1list]
    pre = infer.predict([[i]])[0]
    v = " ".join(map(str, pre))
    f.write("{} {}\n".format(tok.index_word[i], v))
f.close()

In [ ]:
from gensim.models import KeyedVectors
w2v = KeyedVectors.load_word2vec_format("vec.txt")

In [ ]:
w2v.wv.vocab
w2v.most_similar("joke")