<a href="https://colab.research.google.com/github/vincent0965/Colab_note/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0930/raw/master/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0930/raw/master/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f6370a65e80>)

In [18]:
import pandas as pd
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

Combin with two csv (train and test)

In [19]:
datas = pd.concat([train_df, test_df], axis=0, ignore_index=True)
datas

      PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
0               1       0.0       3  ...    7.2500   NaN         S
1               2       1.0       1  ...   71.2833   C85         C
2               3       1.0       3  ...    7.9250   NaN         S
3               4       1.0       1  ...   53.1000  C123         S
4               5       0.0       3  ...    8.0500   NaN         S
...           ...       ...     ...  ...       ...   ...       ...
1304         1305       NaN       3  ...    8.0500   NaN         S
1305         1306       NaN       1  ...  108.9000  C105         C
1306         1307       NaN       3  ...    7.2500   NaN         S
1307         1308       NaN       3  ...    8.0500   NaN         S
1308         1309       NaN       3  ...   22.3583   NaN         C

[1309 rows x 12 columns]

In [20]:
# del data(PassengerId, Survived)
# data type: number:age、SibSp、Parch、Ticket(count)、Fare；type:P-Class、Name(mid)、Sex、Cabin(First)、Embarked
datas = datas.drop(["PassengerId", "Survived"], axis=1)

check NaN for every colunm

In [21]:
# make up none data: type=>fill usually value
na = datas.isna().sum()
# chooes data:Series[True/False list/series]
na[na > 0].sort_values(ascending=False)
# ascending(降冪排列)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [22]:
# Caculate munber of ["Embarked"] and fill a value into ["Embarked"]
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [23]:
# 先處理ticket
dic = datas["Ticket"].value_counts()
def count(n):
  return dic[n]
datas["Ticket"] = datas["Ticket"].apply(count)

In [24]:
# make up none data: number=>fill median
datas.median()
# Pclass is not a number, drop Pclass and don`t fill in value

Pclass     3.0000
Age       28.0000
SibSp      0.0000
Parch      0.0000
Ticket     1.0000
Fare      14.4542
dtype: float64

In [25]:
med = datas.median().drop(["Pclass"])
datas = datas.fillna(med)

In [26]:
# check what value was make up
na = datas.isna().sum()
# chooes Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [27]:
def cabin(c):
  if pd.isna(c):
    return None
  else:
    return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabin)

Enbarked:type => One-Hot Encoding, the data lost over 50%

S、C、Q => binary tree (0 or 1), separate all value and check.

If the value is unknow how, it`s become (0,0,0)

In [28]:
datas["Name"]

0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
                              ...
1304                                   Spector, Mr. Woolf
1305                         Oliva y Ocana, Dona. Fermina
1306                         Saether, Mr. Simon Sivertsen
1307                                  Ware, Mr. Frederick
1308                             Peter, Master. Michael J
Name: Name, Length: 1309, dtype: object

In [29]:
# Name:type=>keep height frequance name

def name(n):
    mid = n.split(",")[-1].split(".")[0]
    mid = mid.strip()
    return mid
# check Name and find top 4 name (Mr、Mrs、Miss、Master) 
middle = datas["Name"].apply(name)
counts = middle.value_counts()
reserved = counts[:4].index
# Replace all Name for top 4 (Mr、Mrs、Miss、Master) 
def name2(mid):
    if mid in reserved:
        return mid
    else:
        return None
datas["Name"] = middle.apply(name2)

datas

      Pclass    Name     Sex   Age  ...  Ticket      Fare  Cabin  Embarked
0          3      Mr    male  22.0  ...       1    7.2500   None         S
1          1     Mrs  female  38.0  ...       2   71.2833      C         C
2          3    Miss  female  26.0  ...       1    7.9250   None         S
3          1     Mrs  female  35.0  ...       2   53.1000      C         S
4          3      Mr    male  35.0  ...       1    8.0500   None         S
...      ...     ...     ...   ...  ...     ...       ...    ...       ...
1304       3      Mr    male  28.0  ...       1    8.0500   None         S
1305       1    None  female  39.0  ...       3  108.9000      C         C
1306       3      Mr    male  38.5  ...       1    7.2500   None         S
1307       3      Mr    male  28.0  ...       1    8.0500   None         S
1308       3  Master    male  28.0  ...       3   22.3583   None         C

[1309 rows x 10 columns]

In [30]:
datas = pd.get_dummies(datas)
datas = pd.get_dummies(datas, columns = ["Pclass"])

In [31]:
datas["Family"] = datas["SibSp"] + datas["Parch"]
datas

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [32]:
# [first row, second row...]
x_train = datas.iloc[:len(train_df)]
x_predict = datas.iloc[len(train_df):]
y_train = train_df["Survived"]
x_predict

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   34.5      0      0       1  ...         0         0         1       0
892   47.0      1      0       1  ...         0         0         1       1
893   62.0      0      0       1  ...         0         1         0       0
894   27.0      0      0       1  ...         0         0         1       0
895   22.0      1      1       2  ...         0         0         1       2
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[418 rows x 26 columns]

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params = {
    "n_estimators":range(20, 100),
    "max_depth":range(4, 11)
}
clf = RandomForestClassifier(random_state=1)
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.8417602996254681
{'max_depth': 8, 'n_estimators': 63}

In [48]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=63, max_depth=7)
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=-1)
print(scores)
print(np.average(scores))

[0.82222222 0.88764045 0.73033708 0.88764045 0.87640449 0.83146067
 0.84269663 0.7752809  0.88764045 0.83146067]
0.837278401997503

In [56]:
clf = RandomForestClassifier(n_estimators=63, max_depth=7)
clf.fit(x_train, y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("rf.csv", encoding="utf-8", index=False)

In [57]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datas_scale = scaler.fit_transform(datas)
datas_scale = pd.DataFrame(datas_scale, columns=datas.columns)
x_train_scale = datas_scale.iloc[:len(train_df)]
x_predict_scale = datas_scale.iloc[len(train_df):]
x_predict_scale

           Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   0.430039  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
892   0.586622  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
893   0.774521  0.000  0.000000     0.0  ...       0.0       1.0       0.0     0.0
894   0.336089  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
895   0.273456  0.125  0.111111     0.1  ...       0.0       0.0       1.0     0.2
...        ...    ...       ...     ...  ...       ...       ...       ...     ...
1304  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1305  0.486409  0.000  0.000000     0.2  ...       1.0       0.0       0.0     0.0
1306  0.480145  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1307  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1308  0.348616  0.125  0.111111     0.2  ...       0.0       0.0       1.0     0.2

[418 rows x 26 columns]

In [58]:
from sklearn.neighbors import KNeighborsClassifier

params = {
    "n_neighbors":range(5, 100),
}

clf = KNeighborsClassifier()
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train_scale, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.832796504369538
{'n_neighbors': 7}

In [60]:
clf = KNeighborsClassifier(n_neighbors=11)
clf.fit(x_train_scale, y_train)
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("knn.csv", encoding="utf-8", index=False)